<div class="combined-assets-section">
  <div class="container p-5">
    <!-- First section with text on the left and image on the right -->
    <div class="row">
      <div class="left-column pl-5">
        <h2><%=t("explanation.web3_traditional")%></h2>
        <p><%=t("explanation.web3_description")%></p>
      </div>
      <div class="right-column">
        <%= image_tag "combined_1.jpg", class: "combined-image" %>
      </div>
    </div>

    <!-- Second section with image on the left and text on the right -->
    <div class="row">
      <div class="left-column pr-5">
        <%= image_tag "combined_2.jpeg", class: "combined-image" %>
      </div>
      <div class="right-column pl-5">
        <h2><%= t("explanation.monitor_categories") %></h2>
        <p><%= t("explanation.monitor_description") %></p>
      </div>
    </div>
  </div>
</div>
