<div class="features-section p-5">
  <div class="container">
    <div class="feature">
      <i class="icon fas fa-coins"></i>
      <h3><%= t("features.track_crypto_stocks") %></h3>
      <p><%= t("features.track_description") %></p>
    </div>
    <div class="feature">
      <i class="icon fas fa-chart-line"></i>
      <h3><%= t("features.best_worst_performers") %></h3>
      <p><%= t("features.performers_description") %></p>
    </div>
    <div class="feature">
      <i class="icon fas fa-wallet"></i>
      <h3><%= t("features.multiple_wallets") %></h3>
      <p><%= t("features.wallets_description") %></p>
    </div>
  </div>
</div>
