<div class="trending-assets-section p-5">
  <h1 class="mb-5"><%= t("pages.trending_now") %></h1>
  <div class="container">
    <div class="column">
      <h2><%= t("assets.cryptocurrencies") %></h2>
      <div class="card">
      <ul class="list-group">
        <% @crypto_holdings.each do |holding|%>
          <li class="info-grid p-2">
            <span class="holding-name"><%= holding.name %></span>
            <div class="numbers-container">
              <% current_price = holding.fetch_current_price %>
              <span class="price-value">$ <%= number_with_precision(current_price || 0, precision: 2) %></span>
              <% percentage_change = holding.find_percentage_holding_info %>
              <span class="<%= percentage_change < 0 ? 'performer-color-down' : 'performer-color-up' %> percentage-value">
                <%= number_with_precision(percentage_change || 0, precision: 2) %>%
              </span>
            </div>
          </li>
        <% end %>
              </ul>
      </div>
      <!-- Additional cards for cryptocurrencies -->
    </div>
    <div class="column">
      <h2><%= t("assets.stocks") %></h2>
      <div class="card">
      <ul class="list-group">
        <% @fiat_holdings.each do |holding|%>
        <li class="info-grid p-2">
          <span class="holding-name"><%= holding.name %></span>
          <div class="numbers-container">
            <% current_price = holding.fetch_current_price %>
            <span class="price-value">$ <%= number_with_precision(current_price || 0, precision: 2) %></span>
            <% percentage_change = holding.find_percentage_holding_info %>
            <span class="<%= percentage_change < 0 ? 'performer-color-down' : 'performer-color-up' %> percentage-value">
              <%= number_with_precision(percentage_change || 0, precision: 2) %>%
            </span>
          </div>
        </li>
        <% end %>
        </ul>
      </div>
      <!-- Additional cards for stocks -->
    </div>
  </div>
</div>
